.table {
  display: grid;
  height: 100vh;

  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

/* .hand {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 3vh;

  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
} */

/* .deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 2;
}

.deck-container .triunfo {
  transform: rotate(90deg);
  overflow: hidden;
  margin-left: -3em;
  z-index: -1;
} */

/* .hover {
  animation: card-hover normal 0.5s ease-out;
  transform: scale(1.2, 1.2);
} */

/* .not-hover {
  animation: card-not-hover normal 0.2s linear;
}

.selected {
  filter: invert(100%);
} */

/* .played-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
} */

/* .played-card {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .played-card-j1 {
  grid-row: 3;
  grid-column: 2;
}

.played-card-j2 {
  grid-row: 2;
  grid-column: 3;
}

.played-card-j2 img {
  transform: rotate(-90deg);
}

/* .played-card-j3 {
  grid-row: 1;
  grid-column: 2;
} */

/* .played-card-j3 img {
  transform: rotate(180deg);
}

.played-card-j4 {
  grid-row: 2;
  grid-column: 1;
} 

.played-card-j4 img {
  transform: rotate(90deg);
} */

/* @keyframes card-hover {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}

@keyframes card-not-hover {
  from {
    transform: scale(1.2, 1.2);
  }
  to {
    transform: scale(1, 1);
  }
} */
