name: Docker Image CI

on:
  push:
    branches: [ "main", "rc" ]
  pull_request:
    branches: [ "main", "rc" ]
    
  workflow_dispatch:

jobs:

  build:

   runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag frontend-web-proysw:latest
      
    - uses: ishworkh/docker-image-artifact-upload@v1
      name: Upload image
      with:
        image: "frontend-web-proysw:latest"

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }} 
          known_hosts: 'placeholder'
        
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts

      - name: Download image
        uses: ishworkh/docker-image-artifact-download@v1
        with:
          image: "frontend-web-proysw:latest"

      - name: Copying files
        run: scp /tmp/docker_img ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/tmp/docker_img

